body{
    background-color: #D3CFDB;
}

.login{
    text-align: center;
}

.bordered-container {
        border: 2px solid grey;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
    }
