body{
    background-color: rgb(215, 210, 218);
}

.login{
    text-align: center;
}

.bordered-container {
        border: 0px solid rgb(255, 255, 255);
        border-radius: 10px;
        background-color: white;
}

.img1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
